<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4" *ngFor="let blog of blogs">
      <div class="card blog">
        <div class="card-body">
          <h4 class="card-title">{{blog.title}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{blog.author}}</h6>
          <p class="card-text blog-content">{{blog.content}}</p>
          <footer class="footer">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>

